---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact — Avinash Varghese" description="Get in touch.">
  <h1>Contact</h1>

  <div class="card">
    <p>Email: <a href="mailto:nashindeutschland@gmail.com">nashindeutschland@gmail.com</a></p>
    <p>GitHub: <a href="https://github.com/LeadN243">LeadN243 </a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/avinash-varghese/">AVINASH VARGHESE</a></p>
  </div>
</BaseLayout>